<script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
<script src="../assets/bootstrap/js/bootstrap.min.js"></script>
<script src="../js/wow.min.js"></script>
<script>
  new WOW().init();

  //切换导航时，同步切换active状态
  var reg_html = new RegExp(".html", "g")
  $("#navbar-spy").find("li").each(function () {
    var a = $(this).find("a:first")[0];
    // location.pathname 获取 当前浏览器上的url 地址
    if ($(a).attr("href").replace(reg_html, "") === location.pathname.replace(reg_html, "")) {
      $(this).addClass("active");
    } else {
      $(this).removeClass("active");
    }
  });

  // });

</script>